<h1>Index</h1>

<%= link_to("Login Page", access_login_path) %><br />

<%= link_to("hello 1", 'demo/hello') %><br />

<%= link_to("hello with parameters", {action: 'hello', page: 5, id: 20}) %><br />

<%= link_to("Roar", '#', onclick: "jsRoar('JavaScript'); return true;") %><br />
